<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand container" href="{% url 'index' %}">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>

          <div class="form-inline my-2 my-lg-0 mr-4">

            {% if request.session.employee_id %}
              <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
              {{request.session.employee_first_name}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout_func' %}">Logout</a>
            </div>
          </div>

            {% else %}
            <a type="button" href="{% url 'employee_login' %}" class="btn btn-primary">Login</a>
            {% endif %}
          </div>

      </div>
    </nav>

  <div class="row container pt-4">
  <div class="col-3">
    {% if request.session.employee_id %}
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link {% block home %}{% endblock %} border border-primary" href="{% url 'index' %}">Home</a>
      <a class="nav-link {% block leave_apply %}{% endblock %} border border-primary" href="{% url 'leave_apply' %}">Leave Apply</a>
      <a class="nav-link {% block see_leave_application %}{% endblock %} border border-primary" href="{% url 'see_leave_application' %}">See Leave Applicationy</a>
      <a class="nav-link {% block profile %}{% endblock %} border border-primary" href="{% url 'profile' %}">My Profile</a>
    {% endif %}
    </div>
  </div>
    <div class="{% if request.session.employee_id %}col-9{% else %}col-12{% endif %}">

    {% block body %}{% endblock %}

    </div>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>