{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block see_leave_application %}active{% endblock %}

{% block body %}


{% if leave_request_filter %}

{% for i in leave_request_filter %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">

    <div class="col-md-12">
      <div class="card-body">
        <h5 class="card-title">{{i.Subject}}



          {% if i.Request_Status == 'Accepted' %}
          <button class="float-right btn btn-success">{{i.Request_Status}}</button>
          {% elif i.Request_Status == 'Rejected' %}
          <button class="float-right btn btn-danger">{{i.Request_Status}}</button>
          {% else %}
          <button class="float-right btn btn-info">{{i.Request_Status}}</button>
          {% endif %}
        </h5>
        <p class="card-text"><small class="text-muted">Apply Time : {{i.Request_time}}</small></p>

          <p>
              <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#multiCollapseExample1{{i.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Details</a>

            </p>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1{{i.id}}">
                  <div class="card card-body">
                    {{i.Subject}}<br>
                      {{i.Reason}}
                  </div>
                </div>
              </div>

            </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% else %}

<h4 class="text-center">No One To Show</h4>

{% endif %}




{% endblock %}